*.iml
.gradle/
.idea/
.kotlin/
build/
*/build/
app/.cxx/
.cxx/
local.properties
whisper-src/
whisper-jni/third_party/OpenCL-Headers/*
!whisper-jni/third_party/OpenCL-Headers/CL/
whisper-jni/third_party/OpenCL-ICD-Loader/
local-dream-master/
.tmp/
.zcode/
hexagon-npu-libs/arm64-v8a/
app/schemas/
*.apk
*.aab
